<%= require("/header.ejs")({htmlWebpackPlugin}) %>
<section class="splash-container">
  <div class="splash">
    <h1 class="splash-head">yzy1's blog</h1>
    <p class="splash-subhead">hello, world</p>
  </div>
</section>
<section class="content">
  <% for (const [postName, post] of Object.entries(posts)) { %>
    <% if (post.conf.tags.indexOf("pinned") >= 0) { %>
      <article class="pinned">
    <% } else { %>
      <article>
    <% } %>
    <header><a href=<%= '"/post/' + postName + '.html"' %>><%= post.conf.title %></a></header>
    <div class="tags">
      <% post.conf.tags.forEach(tag => { %>
        <a href="##" class="tag"><%= tag %></a>
      <% }) %>
    </div>
    <div class="text">
      <%- post.md.slice(0, 256) %> 
    </div>
    </article>
  <% } %>
</section>
<%= require("/footer.ejs")({}) %>
