<%= require("/header.ejs")({htmlWebpackPlugin}) %>
<section class="splash pure-g">
  <div class="pure-u-1-2">
    <h1 class="title">yzy1's<br />blog</h1>
  </div>
  <div class="pure-u-1-2 share-links">
    <div>
      <a href="https://www.luogu.com.cn/user/207996"><i class="fa fa-rocket"></i>Luogu</a>
      <a href="https://github.com/yzy-1"><i class="fa fa-github"></i>Github</a>
      <a href="mailto:yzy-1@outlook.com"><i class="fa fa-envelope"></i>Mail</a>
    </div>
  </div>
</section>
<section class="content">
  <% Object.entries(posts).sort((x, y) => x[1].conf.tags.indexOf("pinned") < 0 !==
  y[1].conf.tags.indexOf("pinned") < 0 ? x[1].conf.tags.indexOf("pinned") < 0 : y[1].conf.uptime -
  x[1].conf.uptime).forEach(([postId, post]) => { %>
  <article>
    <header><%= `<a href="/post/${postId}.html">${post.conf.title}</a>` %></header>
    <div class="tags">
      <% post.conf.tags.forEach(tag => { %>
      <a href="##" class="tag"><%= tag %></a>
      <% }) %>
    </div>
    <div class="text"><%- post.description %></div>
  </article>
  <% }) %>
</section>
<%= require("/footer.ejs")({}) %>
